<section class="products-page">
  <!-- <header class="products-header">
    <h1 class="products-title">Catalogue - Modération</h1>

    <div class="products-actions">
      <select class="filter-select" title="Filtrer le catalogue">
        <option>Solaire</option>
        <option>Électronique</option>
        <option>Tous</option>
      </select>

      <button class="primary-btn">Crée une commande</button>
    </div>
  </header> -->

  <div class="products-card">
    <table class="products-table">
      <thead>
        <tr>
          <th>Produit</th>
          <th>Fournisseur</th>
          <th>Prix</th>
          <th>MOQ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of produits">
          <td>{{ product.nom }}</td>
          <td>{{ product.fournisseur.prenom }}</td>
          <td>{{ product.prix }}</td>
          <td>{{ product.moq }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
